.register{
    background-image: url('../images/login.png');
    background-color: #010113;
    width: 100%;
    height: 100vh;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.register-box{
    display: flex;
    flex-direction: column;
    background: #000000cf;
    overflow: hidden;
    width: 90%;
    max-width: 550px;
    min-width: 250px;
    padding: 20px;
}

.register-box p{
    color: #ff8b57;
    font-weight: 600;
}

.register-box .errorlist{
    color: #ffc000 !important;
    font-weight: 600;
}
.register-box form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem auto;
    gap: 1rem;
    width: 100%;
}

.register-box form input{
    color: black;
    font-weight: 600;
    border: none;
    outline: none;
}

.register-box form button{
    margin-top: 1.2rem;
}

.register-box form ul li{
   display: none;
}

.register-box form div{
    display: flex;
    flex-direction: column;

}

.helptext{
    display: none !important;
}